.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.messangers {
    padding: 10px;
}
.item a {
    color: black;
}
.item a.aktivLink{
    color: gold;
}
.item img{
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 10px;
}
.dialogsImput{
    border-radius: 15px;
    margin-left: 5px;
    width: 300px;
    height: 40px;
    margin-top: 30px;
}
.button{
    border-radius: 10px;
    margin: 5px;
    background-color: lightseagreen;
    margin-top: 10px;
}